:root {
  --r-background-color: var(--php-dark-grey-color);
  --r-code-font: "Fira Mono", monospace;
  --r-heading-font: var(--r-main-font);
  --r-heading-font-weight: 700;
  --r-heading-letter-spacing: -0.06em;
  --r-heading-text-transform: normal;
  --r-heading1-size: 2em;
  --r-link-color: var(--php-medium-blue-color);
  --r-link-color-hover: var(--php-medium-magenta-color);
  --r-main-font-size: 28px;
  --r-main-font: "Fira Sans", sans-serif;
  --php-dark-grey-color: #333;
  --php-dark-blue-color: #4F5B93;
  --php-medium-blue-color: #7A86B8;
  --php-light-blue-color: #E2E4EF;
  --php-dark-magenta-color: #793862;
  --php-medium-magenta-color: #AE508D;
  --php-light-magenta-color: #CF82B1;
}

/* Tema */
.reveal-viewport {
  box-shadow: 0 0 0 20px var(--php-dark-blue-color) inset;
  background: var(--r-background-color) url(img/bg-texture-00.svg) 0 0 repeat;
}
.slide {
  margin: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
.reveal .slides {
  text-align: left;
  letter-spacing: var(--r-heading-letter-spacing);
}

/* Componentes do tema */
.reveal .controls {
  --r-controls-spacing: 10px;
  bottom: 30px;
}
.reveal .slide-number {
  right: auto;
  left: 10px;
  bottom: 25px;
}

/* Primeiro slide */
#first-slide > h1 {
  --r-heading-letter-spacing: -0.044em;
  --r-heading-line-height: 1;
  --r-heading-font-weight: 800;
  --r-heading1-size: 2.7em;
  --r-heading-margin: 0 0 10px 0;
  --r-heading-color: var(--php-light-blue-color);
  font-style: normal;
}
#first-slide > h1 > span {
  font-weight: 900;
  font-style: italic;
}
#first-slide > h2 {
  --r-heading-line-height: 1.5;
  --r-heading2-size: 1em;
  --r-heading-font-weight: 600;
  --r-heading-color: var(--php-light-magenta-color);
}

/* Cabeçalhos */
header > h1 {
  --r-heading1-size: 1.2em;
  --r-heading-font-weight: 500;
  opacity: 0.25;
}
header > h1:after {
  font-size: 0.6em;
  content: "⟫";
  margin: 0 0.5em;
  vertical-align: top;
  line-height: 2;
  font-weight: 900;
}
header > h1,
header > h2 {
  --r-heading-margin: 0;
  --r-heading2-size: 1.6em;
}
.reveal h1 + h2 {
  --r-heading-font-weight: 700;
}

/* Sobre mim */
#about-me {
  display: flex;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
}
#about-me > ul {
  list-style-type: circle;
}
#profile-pic > img {
  margin: 0;
}
#profile-pic > figcaption {
  font-weight: 600;
  line-height: 1;
}
.about-me-links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.25rem;
  justify-content: start;
}
.about-me-links > a {
  display: flex;
  flex: 33.333% 0 0;
  align-items: center;
  font-size: 0.7em;
  column-gap: 0.4em;
}
.about-me-links > a > svg {
  width: 40px;
}
.about-me-links > a > svg .fill {
  fill: var(--r-link-color);
}
.about-me-links > a:is(:hover, :focus) > svg .fill {
  fill: var(--r-link-color-hover);
}
.about-me-links > div > svg .fill-bg,
.about-me-links > a > svg .fill-bg {
  fill: var(--r-background-color);
}
.about-me-links > a > span > span,
.about-me-links > a > span > b {
  display: block;
  line-height: 1;
}
.about-me-links > a > span > span {
  color: var(--r-main-color);
}

/* Blockquote */
.reveal blockquote {
  margin: 0;
}

/* Código */
code:not(.hljs),
kbd {
  font-family: var(--r-code-font);
  letter-spacing: -0.088em;
  color: var(--php-medium-magenta-color);
  user-select: all;
}
.shell.hljs.language-shell {
  user-select: all;
}
.hljs-meta.prompt_ {
  user-select: none;
}

/* Referências */
div.references,
a.reference {
  font-size: 0.7em;
}
div.references,
a.reference {
  display: block;
  margin-top: 1em;
  --link-opacity: 0.5;
}
.references > a {
  display: inline-block;
}
a.reference:before {
  opacity: var(--link-opacity);
  content: '$ref = "';
}
a.reference:after {
  opacity: var(--link-opacity);
  content: '";';
}
.references:before {
  color: var(--r-link-color);
  opacity: var(--link-opacity);
  content: '$refs = ["';
}
.references > a:not(:last-child):after {
  opacity: var(--link-opacity);
  content: '" , "';
}
.references:after {
  color: var(--r-link-color);
  opacity: var(--link-opacity);
  content: '"];';
}

/* Links */
.reveal a {
  transition: color 0.25s ease;
}
.fill {
  transition: fill 0.25s ease;
}

/* Quote */
.reveal blockquote {
  width: 100%;
  margin-left: 0;
  padding: 0.8em 1em;
  font-size: 0.9em;
  border-left: 5px #444 solid;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

/* Listas */
.reveal ol {
  margin: 0.5em 0 0.5em 1em;
}
li + li {
  margin-top: 0.25em;
}

/* Tipografia */
.reveal strong,
.reveal b,
.fw-bold {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-muted {
  color: var(--php-dark-blue-color);
}
.fs-small {
  font-size: 0.8em;
}
.opacity-50 {
  opacity: 0.5;
}

/* SVG */
svg {
  letter-spacing: 0;
}

/* Scaffolding */
.d-block {
  display: block;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

/* Slides e Workshops */
#qrcode-slides-text,
#qrcode-workshops-text {
  line-height: 1.3;
}
#qrcode-slides-text > a {
  font-size: 0.95em;
  font-weight: 500;
}
#qrcode-workshops-text {
  font-size: 1.3em;
}
